body{
    
    // .header-wrapper{
    //     padding: 10px;
    //   }
    .wrapper {
        margin: 15px;
      }
      .textfield-list .ms-TextField-fieldGroup, .textbox-details .ms-TextField-fieldGroup {
        background-color: #ebeef1;
        color: #999fa5;
        border-radius: 5px;
      }

      label{
        text-transform: uppercase;
        font-weight: bold !important;
      }
      
.header {
    border: solid 1px;
    margin: 10px 0;
    background:white;
    border-radius: 5px;

.header-heading {
    text-align: center;
    background: #012c7b;
    color: white;
    font-size: 32px;
}
.date-form{
    display: flex;
    width: 40%;
    justify-content: space-between;

    .control-100{
        width: 45%;
    }
}

.checkbox-items {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: 15px 0;
}

.dropdown-list {
    display: flex;
    flex-flow: inherit;
    width: 60%;
    justify-content: space-between;

    .ms-Dropdown-container{
    width: 50%;
    }
}

.texbox-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-flow: inherit;
}

.textfield-list {
    display: flex;
    flex-flow: inherit;
    width: 58%;
    justify-content: space-between;

    .root-151{
        width: 50%;
    }
}

.textbox-details{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-flow: inherit;
}
}
}

