body{
    // margin: 15px auto;
    // width: 80%;
    
    .header-wrapper{
        // background: #cae1f5;
        padding: 10px;
        // margin: 20px 0;
      }
    .wrapper {
        margin: 15px;
      }

      label{
        text-transform: uppercase;
        font-weight: bold !important;
      }
      
.header {
    border: groove 1px;
    margin: 10px 0;
    background:white;
    border-radius: 5px;

.header-heading {
    text-align: center;
    background: #002e97;
    color: white;
    font-size: 32px;
}
.date-form{
    display: flex;
    width: 40%;
    justify-content: space-between;

    .control-100{
        width: 45%;
    }
}

.checkbox-items {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 15px 0;
}

.dropdown-list {
    display: flex;
    flex-flow: inherit;
    width: 58%;
    justify-content: space-between;

    .ms-Dropdown-container{
    width: 50%;
    }
}

.texbox-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-flow: inherit;
}

.textfield-list {
    display: flex;
    flex-flow: inherit;
    width: 58%;
    justify-content: space-between;

    .root-151{
        width: 50%;
    }
}

.textbox-details{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-flow: inherit;
}
}
}

