
.header {
    width: 100%;
}

.headerHeading {
    text-align: center;
    background: #002e97;
    color: white;
    font-size: 32px;
}
.dateForm{
    display: flex;
    width: 40%;
    justify-content: space-between;

}

.checkboxList {
    display: flex;
}

.checkboxItems {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 15px 0;
}

